<style>
    .table {word-break: break-word; white-space: pre-wrap !important;}
    .acoes {white-space: nowrap !important;}
    .card-footer.float-right {background-color: #FFFFFF;}
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card-buttons mb-3">
            <button type="button" onclick="criar_documento()" class="btn btn-primary swalDefaultSuccess"><i
            class="fas fa-plus mr-2"></i>
                Cadastrar novo documento
            </button>
        </div>

        <div id="loginPopup"></div>

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Documentos cadastrados</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input id="inputBuscar" type="text" name="table_search" onkeyup="buscarDocumento()"
                            class="form-control float-right" placeholder="Buscar Documento">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="tableDocumentos" class="table table-sm table-striped text-nowrap m-0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Extensão</th>
                            <th class="acoes">Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="totalRegistros"></div>

            {{!-- {{#if documentos}}
            <div class="card-footer text-muted small clearfix">Total de registros: {{documentos.length}}</div>
            {{else}}
            <div class="card-footer clearfix"></div>
            {{/if}} --}}
        </div>
    </div>
</div>

{{> scripts}}

<script id="my-template" type="text/x-handlebars-template">

    <div class="modal fade" id="modal-cadastrar-documentos">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar documento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadastrar_documento">
                    <div class="row">
                        <input value="\{{id}}" type="hidden" id="documentos_id" name="documentos_id" class="form-control" placeholder="documentos_id">
                        <div class="col-sm-8">
                            <div class="form-group mb-3">
                                <label for="nome">Nome do documento</label>
                                <input value="\{{nome}}" type="text" id="nome" name="nome" class="form-control"
                                    placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-3">
                                <label for="extensao">Extensão do arquivo</label>
                                <input value="\{{extensao}}" type="text" id="extensao" name="extensao" class="form-control"
                                    placeholder="Extensão">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição do documento</label>
                        <textarea id="descricao" name="descricao" class="form-control" rows="3"
                            placeholder="Descrição do documento">\{{descricao}}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" onclick="store_documentos()" class="btn btn-primary">Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</script>

<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        closeButton: true
    });

    function totalRegistros() {
        $.ajax({
            url: "/admin/documentos/totalRegistros",
            type: "POST",
        }).done(function(data) {
            var totalRegistros = data.totalRegistros;

            $('.card-footer').remove();

            if(totalRegistros > 0) {
                $('.totalRegistros')
                .append(`<div class="card-footer  float-right text-muted small clearfix">Total de registros: ${data.totalRegistros}</div>`);
            }
            else {
                $('.totalRegistros').append('<div class="card-footer clearfix"></div>');
            }
        });
    }

    //function index() {
    //    $.ajax({
    //        url: "/admin/documentos/cadastro",
    //        type: "GET",
    //    }).done(function(data) {
    //        console.log(data);
    //    });
    //}

    $(function () {
        show_documentos();

        $('#modal-cadastrar-documentos').on('hidden.bs.modal', function () {
            $("#cadastrar_documento").trigger('reset');
        });

        totalRegistros();

    });

    function buscarDocumento() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("inputBuscar");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableDocumentos");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function show_documentos() {
        var table = $('#tableDocumentos').DataTable({
            bInfo: false,
            destroy: true,
            paging: false,
            searching: false,
            "language": {
                "emptyTable": 
                "<div class='text-center text-muted p-5'>" +
                    "<i class='icon far fa-folder-open fa-2x'></i><br>" +
                    "<small>Nenhum documento cadastrado</small><br>" +
                    "<button type='button' onclick='criar_documento()' class='btn btn-outline-primary swalDefaultSuccess mt-3'><i class='fas fa-plus mr-2'></i>Cadastrar agora</button>" +
                "</div>"
            },
            "ajax": "/admin/documentos/cadastro/show_documentos",
            "columns": [
                { "data": "nome" },
                { "data": "descricao" },
                { "data": "extensao" },
                {
                    "data": null,
                    "defaultContent": '<i style="cursor: pointer" class="text-info icon fas fa-pen editar mr-3" data-toggle="tooltip" title="Editar"></i><i style="cursor: pointer" class="text-danger icon fas fa-trash excluir" data-toggle="tooltip" title="Excluir"></i>'
                }
            ]
        });

        $('#tableDocumentos tbody').on('click', 'tr .editar', async function () {
            var data = await table.row($(this).parents('tr')).data();
            edit_documento(data.id);
        });

        $('#tableDocumentos tbody').on('click', '.excluir', async function () {
            var data = await table.row($(this).parents('tr')).data();
            destroy_documento(data.id)
        });

        table.ajax.reload();
    }

    function criar_documento() {
        var source = $("#my-template").html();
        var template = Handlebars.compile(source);
        var html = template();
        $('#loginPopup').html(html);

        $('#modal-cadastrar-documentos').modal('show');
    }

    function store_documentos() {

        $.ajax({
            url: "/admin/documentos/cadastro",
            data: $("#cadastrar_documento").serialize(),
            type: "POST",
            beforeSend: function () {
            },
            success: function (response) {

                toastr.options.closeButton = true;

                if (response.status) {

                    $('#modal-cadastrar-documentos').modal('hide');
                    $('.modal-backdrop').remove();

                    setTimeout(function() {
                        toastr.success(response.message);
                        show_documentos();
                        totalRegistros();
                    }, 500);

                } else {

                    toastr.error(response.message)
                }

            },
        });
    }

    function edit_documento(_id) {
        $.ajax({
            url: "/admin/documentos/cadastro/edit/" + _id,
            type: "GET",
            beforeSend: function () {

            },
            success: function (response) {
                var source = $("#my-template").html();
                var template = Handlebars.compile(source);
                var html = template(response.dados);
                $('#loginPopup').html(html);

                $('#modal-cadastrar-documentos').modal('show');
            },
        });
    }


    function destroy_documento(_id) {
        $.ajax({
            url: "/admin/documentos/cadastro",
            data: { 'id': _id },
            type: "DELETE",
            beforeSend: function () {

            },
            success: function (response) {
                show_documentos();

                toastr.options.closeButton = true;
                toastr.success(response.message)

                totalRegistros();
            },
        });

    }

</script>