<style type="text/css"></style>

{{> scripts}}

<div class="card card-primary card-outline">
    <div class="card-header">
       <h3 class="card-title">Em processo</h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table id="tableSolicitacoes" class="table table-sm table-striped text-nowrap m-0"> 
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Dt. Solicitado</th>
                    <th>Dt. Atendido</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    function addBadge(index, status) {
                        var label = '';
                        switch(status) {
                            case 'DIGITAÇÃO': 
                                label = 'primary';
                                break;
                            case 'SOLICITADO': 
                                label = 'warning';
                                break;
                            case 'ATENDIDO': 
                                label = 'info';
                                break;
                            case 'FINALIZADO': 
                                label = 'success';
                                break;
                        }
                        
                        $(".status"+index).find('span').addClass('badge-'+label);
                    }
                </script>
                {{#if solicitacoes}}
                    {{#each solicitacoes}}
                        <tr>
                            <td>{{this.descricao}}</td>
                            <td>{{this.dt_solicitado}}</td>
                            <td>{{this.dt_atendido}}</td>
                            <td name="{{@index}}" class="status{{@index}}">
                                <span id="status{{@index}}" class="badge">{{this.status}}</span>
                            </td>
                            {{!-- <td>
                                <a href="/admin/documentos/show_historico/{{this.id}}">
                                    <i style="cursor: pointer" class="text-info icon fas fa-hourglass-end historico mr-2" data-toggle="tooltip" title="Ver histórico"></i>
                                </a>
                            </td> --}}
                        </tr>
                        <script>addBadge({{@index}}, '{{this.status}}');</script>
                    {{/each}}
                {{else}}
                    <tr>
                        <td class="dataTables_empty" colspan="5">
                        <div class='text-center text-muted p-4'>
                            <i class='icon far fa-folder-open fa-2x'></i><br>
                            <small>Nenhuma solicitação em processo</small><br>
                        </div>
                        </td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>