<div class="row">
    <div class="col-lg-12">
        {{>_msg}}
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Dados cadastrais</h3>
        </div>
        <br>
            <div class="col-sm-2">
                <div class="form-group">
                    <form action="/cadauto" method="post"> 
                        <div class="form-group">
                            <input type="text" name="cadpcnpj" id="cadpcnpj" class="form-control" placeholder="Informe o CNPJ">
                            <br>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        <form action="/empresa" method="post" role="form">
        <div class="form-group">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" name="nome" id="nome" class="form-control" placeholder="Informe o nome da sua empresa">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Inscrição Estadual</label>
                        <input type="text" name="ie" value="{{empresa.ie}}" class="form-control" placeholder="Informe a inscrição estadual da sua empresa">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label>Razão Social</label>
                        <input type="text" name="razao" value="{{empresa.razao}}" class="form-control" placeholder="Informe a razão social da sua empresa">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>CNPJ</label>
                        <input type="text" name="cnpj"  value="{{empresa.cnpj}}" class="form-control" placeholder="Informe o CNPJ da sua empresa">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail comercial</label>
                        <input type="email" name="email" value="{{empresa.email}}" class="form-control" id="exampleInputEmail1" placeholder="Informe o e-mail comercial da empresa">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" name="telefone" value="{{empresa.telefone}}" class="form-control" placeholder="Informe o telefone comercial">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div  class="form-group">
                    <label>Estado</label>
                    <select class="form-control select2bs4" style="width: 100%;">
                        <option selected="selected" value="{{empresa.estado}}">Selecione</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label>Cidade</label>
                    <select class="form-control select2bs4" disabled="disabled" style="width: 100%;">
                        <option nome="cidade" value="{{empresa.cidade}}" selected="selected">Salvador</option>
                        <option>Rio de Janeiro</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="socio-adm mt-4">
                <h5>Sócio Administrador</h5>
                <hr class="solid mt-0 mb-3">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Nome</label>
                            <input name="estado" type="text" class="form-control" placeholder="Informe o nome completo do sócio administrador">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Telefone</label>
                            <input name="cidade" type="text" class="form-control" placeholder="Informe o telefone do sócio administrador">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fiscal-interno mt-4">
                <h5>Fiscal Interno</h5>
                <hr class="solid mt-0 mb-3">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" placeholder="Informe o nome completo do fiscal interno">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Telefone</label>
                            <input type="text" class="form-control" placeholder="Informe o telefone do fiscal interno">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Informe o e-mail do fiscal interno">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sefaz mt-4">
                <h5>SEFAZ</h5>
                <hr class="solid mt-0 mb-3">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Usuário SEFAZ</label>
                            <input type="text" class="form-control" placeholder="Usuário utilizado na SEFAZ">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Senha SEFAZ</label>
                            <input type="text" class="form-control" placeholder="Senha utilizada na SEFAZ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
        </form>
        </div>
    </div>
</div>

