<style type="text/css"></style>

{{> scripts}}

<div class="card card-primary card-outline">
    <div class="card-header">
       <h3 class="card-title">Histórico</h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table id="tableSolicitacoes" class="table table-sm table-striped text-nowrap m-0"> 
            <thead>
                <tr>
                    <th class="admin">Empresa</th>
                    <th>Descrição</th>
                    <th>Dt. Solicitado</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    function addBadge(index, status) {
                        var label = '';
                        switch(status) {
                            case 'DIGITAÇÃO': 
                                label = 'primary';
                                break;
                            case 'SOLICITADO': 
                                label = 'warning';
                                break;
                            case 'ATENDIDO': 
                                label = 'info';
                                break;
                            case 'FINALIZADO': 
                                label = 'success';
                                break;
                        }
                        
                        $(".status"+index).find('span').addClass('badge-'+label);
                    }
                </script>
                {{#each solicitacoes}}
                    <tr>
                        <td class="admin">{{this.empresa.razao}}</td>
                        <td>{{this.descricao}}</td>
                        <td>{{this.dt_solicitado}}</td>
                        <td name="{{@index}}" class="status{{@index}}">
                            <span id="status{{@index}}" class="badge">{{this.status}}</span>
                        </td>
                        <td>
                            <i style="cursor: pointer" data-id="{{this.id}}"
                            class="text-info icon fas fa-hourglass-end historico mr-2" 
                            data-toggle="tooltip" title="Ver histórico"></i>
                        </td>
                    </tr>
                    <script>addBadge({{@index}}, '{{this.status}}');</script>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div id="painel_modal"></div>

<script>
    $(document).ready(function() {
        var isAdmin = {{isAdmin}};

        if (!isAdmin) {
            $('.admin').hide();
        }
        else {
            $('.notAdmin').hide();
        }

        $('.historico').on('click', function() {
            var solicitacaoId = $(this).attr('data-id');
            var url = '/admin/documentos/show_historico/'+solicitacaoId;

            if(!isAdmin) {
                url = '/documentos/show_historico/'+solicitacaoId
            }

            console.log(url);
            console.log(solicitacaoId);

            $.ajax({
                url: url,
                type: 'GET',
                success: function(response) {
                    $('#painel_modal').html(response);
                    $('#modal-historico').modal('show');
                },
            });
        })
    });
</script>